[submodule "omero-dsl-plugin"]
	path = omero-dsl-plugin
	url = git@github.com:rgozim/omero-dsl-plugin
[submodule "omero-api-plugin"]
	path = omero-api-plugin
	url = git@github.com:rgozim/omero-api-plugin.git
[submodule "omero-blitz-plugin"]
	path = omero-blitz-plugin
	url = ggit@github.com:rgozim/omero-blitz-plugin
[submodule "omero-artifact-plugin"]
	path = omero-artifact-plugin
	url = git@github.com:rgozim/omero-artifact-plugin.git
[submodule "ice-builder-gradle"]
	path = ice-builder-gradle
	url = git@github.com:rgozim/ice-builder-gradle.git
	branch = master